<!-- <p>paymentwallet works!</p> -->
<br><br>
<div class="container">
    <h2>UPI Payment</h2>
    <form (ngSubmit)="onSubmit()" #upiForm="ngForm">
      <div class="form-group">
        <label for="upiId">UPI ID</label>
        <input
          type="text"
          id="upiId"
          name="upiId"
          class="form-control"
          placeholder="Enter UPI ID"
          [(ngModel)]="payment.upiId"
          required
        >
      </div>
      <div class="form-group">
        <label for="pin">PIN</label>
        <input
          type="password"
          id="pin"
          name="pin"
          class="form-control"
          placeholder="Enter PIN"
          [(ngModel)]="payment.pin"
          required
        >
      </div>
      <button type="submit" class="btn btn-primary">Make Payment</button>
    </form>
  </div>
  