<table class="table table-bordered">
    <thead>
      <tr>
        <th>Invoice ID</th>
        <th>Unit Consumption</th>
        <th>Start Date</th>
        <th>Due Date</th>
        <th>Customer</th>
        <th>Payment Status</th>
        <th>Payment Method</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let invoice of customerinvoice">
        <td>{{ invoice.customerInvoiceId }}</td>
        <td>{{ invoice.customerUnitConsumption }}</td>
        <td>{{ invoice.startDate }}</td>
        <td>{{ invoice.dueDate }}</td>
        <td>{{ invoice.customer.customerName }}</td>
        <td>{{ invoice.paymentStatus }}</td>
        <td>
          <button *ngIf="invoice.paymentStatus === 'unpaid'" (click)="payInvoice()">Pay</button>
          <span *ngIf="invoice.paymentStatus !== 'unpaid'">{{ invoice.paymentMethod }}</span>
        </td>
       
        <td>{{ invoice.price }}</td>
      </tr>
    </tbody>
  </table>
  